
body {
    padding: 0;
    margin: 0;
    font-weight: bold;


}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 150px 1fr 150px ;
    grid-template-rows: 70px 1fr 70px;
    grid-template-areas:  "header header header"
    "nav main sidebar"
    "footer footer footer";

}



header {
    padding-top: 15px;
    color: white;
    text-align: center;
    grid-area: header;
    background: rgb(51, 102, 151);
}

.nav {
    padding-top: 15px;
    padding-left: 15px;
    grid-area: nav;
    background: rgb(254, 153, 0);
}

.main {
    padding-top: 15px;
    padding-left: 15px;
    grid-area: main;
    justify-content: start;
}

.sidebar {
    padding-top: 15px;
    padding-left: 15px;
    grid-area: sidebar;
    background: rgb(153, 51, 101);

}

footer {
    padding-top: 15px;
    grid-area:footer;
    text-align: center;
    color: white;
    background: rgb(102, 153, 0);
}

@media (max-width:600px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 70px 50px 1fr 50px 70px;
        grid-template-areas:  "header"
        "nav"
        "main"
        "sidebar"
        "footer";
    }
}
