* {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 10% auto;
    overflow: hidden;
    user-select: none;
    width: 800px;
    height: 400px;
}

.slide, h1 {
    margin-top: 230px;
}

.slide, p {
    text-align: center;
    font-size: 9pt;
    margin-top: 15px;

}

.slide {
    display: flex;
    flex-direction: column;
}


label span {
    position: absolute;
    font-size: 100pt;
    left: 40%;
    top: 50%;
    transform: translateY(-50%);
}

.container .slide {
    position: absolute;
    width: inherit;
    height: inherit;
    z-index: 1;
    background: gray;
}

.prev, .next {
    width: 25%;
    height: inherit;
    position: absolute;
    top: 0;
    color: rgba(244, 244, 244, .9);
    z-index: 6;
    transition: .45s;
    cursor: pointer;
    text-align: center;
}

.next {
    right: 0;
}

.prev {
    left: 0;
}

.slider-controls {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    z-index: 10;
}

.container input {
    cursor: pointer;
}

#i1:checked ~#one,
#i2:checked ~#two,
#i3:checked ~#three
    {z-index: 9; animation: scroll 1s ease-in-out;}



#i1:checked ~ .slider-controls #dot1,
#i2:checked ~ .slider-controls #dot2,
#i3:checked ~ .slider-controls #dot3

@keyframes slide {
    from {
        margin-left: 100%;
        width: 300%;
    }

    50% {
        margin-left: 50%;
        width: 200%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}
